.question-div-box{
    position: relative;
    width: 100%;
}

.question-div-box .input-label{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 1rem;
}

.question-div-box .input-label h2 {
    color: #44403C;
    font-family: "Open Sans";
    font-size: 1.25rem;
    font-weight:600;
    line-height: 1.75rem;
}

.question-div-box .input-label img{
    width: 1.9rem;
    line-height: 1.75rem;
    cursor: pointer;
    transition: transform 0.3s ease;
    transform-origin: center;
}

.question-div-box .input-label img:hover{
    background-color: #f0f0f0c6;
    border-radius: 8rem;
    transform: scale(1.2);
}

.question-div-box .inputContainer{
    margin-bottom: 2rem;
}

.question-div-box .longText-area{
  margin-bottom: 1rem;
  border-radius: 0.375rem;
  overflow: hidden;
}

.question-div-box .longText-area:focus{
  outline: 1px solid #6366F1;
}

.inputAwnserCorrectDiv{
  width: 100%;
}

.correctInput{
    width: 100%;
    padding: 0.65rem 0.5rem;
    padding-top: 1rem;
    display: flex;
    align-items: center;
    line-height: 1.5rem;

    height: auto;
    resize: none;
    overflow-y: hidden;

    color: #1F2937;
    font-family: "Open Sans";
    font-size: 0.9rem;
    line-height: 1.5rem;
}

.correctInput{
    border: none;
    border-radius: var(--border-radius-md, 0.375rem);
    border-bottom: var(--border-width-1, 1px) solid var(--colors-stone-300, #D6D3D1);
    background: var(--colors-emerald-50, #ECFDF5);
}

.correctInput:focus{
    outline: 1px solid #50c26e;
}

.correctInput::placeholder, .inputAwnserIncorrectDiv textarea::placeholder{
    color: #78716C;
    font-family: "Open Sans";
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5rem; 
}

.inputAwnserCorrectDiv{
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.inputAwnserCorrectDiv img{
    width: 32px;
    height: 32px;
}

/*  */

.inputAwnserIncorrectDiv textarea{
    width: 100%;
    padding: 0.65rem 0.5rem;
    padding-top: 1rem;
    display: flex;
    align-items: center;

    height: auto;
    resize: none;
    overflow-y: hidden;

    color: #1F2937;
    font-family: "Open Sans";
    font-size: 0.9rem;
    line-height: 1.5rem;
}

.inputAwnserIncorrectDiv textarea{
    border: none;
    border-radius: var(--border-radius-md, 0.375rem);
    border-bottom: var(--border-width-1, 1px) solid var(--colors-stone-300, #D6D3D1);
    background: var(--colors-red-50, #FEF2F2);
}

.inputAwnserIncorrectDiv textarea:focus{
    outline: 1px solid #c26150;
}

.inputAwnserIncorrectDiv{
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.inputAwnserIncorrectDiv img{
    width: 32px;
    height: 32px;
}

.inputAwnsersBox{
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

.dialog-p .inputContainer {
    padding-top: 0.8rem;
}

.dialog-p fieldset legend{
  padding-bottom: 0.5rem;
}

#loading {
    display: none; /* Inicialmente escondido */
    position: absolute;
    top: 50%;
    left:45%;
}

/* HTML: <div class="loader"></div> */
.loader-2 {
    width: 65px;
    aspect-ratio: 1;
    position: relative;
  }
  .loader-2:before,
  .loader-2:after {
    content: "";
    position: absolute;
    border-radius: 50px;
    box-shadow: 0 0 0 3px inset #6366F1;
    animation: l4 2.5s infinite;
  }
  .loader-2:after {
    animation-delay: -1.25s;
  }
  @keyframes l4 {
    0% {
      inset: 0 35px 35px 0;
    }
    12.5% {
      inset: 0 35px 0 0;
    }
    25% {
      inset: 35px 35px 0 0;
    }
    37.5% {
      inset: 35px 0 0 0;
    }
    50% {
      inset: 35px 0 0 35px;
    }
    62.5% {
      inset: 0 0 0 35px;
    }
    75% {
      inset: 0 0 35px 35px;
    }
    87.5% {
      inset: 0 0 35px 0;
    }
    100% {
      inset: 0 35px 35px 0;
    }
  }
