* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

body, a, button{
    font-family: "Poppins", sans-serif;
}

.header {
    display: flex;
    flex-direction: column;
    background-color: #1E1B4B;
    max-width: 15rem;
    width: 100%;
    min-width: 11.25rem;
}

.header a {
    color: white;
    text-decoration: none;
    font-weight: 500;
}

.logo {
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
    padding-top: 2rem;
    padding-left: 1.2rem;
    color: #EEF2FF;
    flex: 1 0 15vh;
    min-height: 7.3rem;
}

.logo h1 {
    font-weight: 600;
    font-size: 24px;
    padding-top: 0.5rem;
    letter-spacing: -0.5px;
}


.nav{
    display: flex;
    gap: 15px;
    color: white;
    justify-content: start;
    align-items:flex-start;
    flex-direction: column;
    flex: 1 0 65vh;
    padding-left: 2rem;
    min-width: 11.25rem;
}

.element{
    display: flex;
    gap: 8px;
    position: relative;
}

.element a {
    padding-top: 0.2rem;
}

.element a:hover {
    color: #FEF08A;;
}

.nav-footer{
    color: white;
    flex: 1 0 20vh;
    display: flex;
    align-items: flex-end;
    padding-bottom: 2rem;
    padding-left: 2rem;
}

.nav-footer a {
    font-size: 16px;
    font-weight: 300;
}

.nav-footer a:hover {
    color: #FEF08A;;
}

/* a partir daqui main */
.app {
    display: flex;
    background-color: #1E1B4B
}

.main {
    border-radius: 24px 0 0 24px;
    background-color: #fafafa;
    flex: 1 0 70vh;
    display: flex;
    flex-direction: column;
    padding-left: 3rem;
    padding-right: 3rem;
}

.main-title {
    margin: 2.4rem 0;
    min-width: 3rem;
}

.main-title p {
    font-weight: 400;
    color: #44403C;
    font-size: 24px;
}

.main-title h1 {
    color: #1C1917;
    font-weight: 600;
    font-size: 30px;
}

.main-hero {
    margin: 0.5rem 0;
    min-width: 3rem;
    padding-right: 2rem;
}

.main-hero h2 {
    font-weight: 500;
    color: #44403C;
    font-size: 20px;
    margin-bottom: 0.8rem;
}

.main-list-btn {
    background-color: #F5F5F5;
    padding: 16px 0;
    padding-left: 1.25rem;
    border: 1px solid #E7E5E4;
    border-radius: 12px;
    max-width: 56rem;
    width: 90%;
    cursor: pointer;
    color: #1C1917;
    text-align: left;
    font-size: 18px;
    font-weight: 400;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.10), 0px 1px 2px 0px rgba(0, 0, 0, 0.06);
}

.main-list-btn:hover{
    border: 1px solid #FEF08A;
}

.main-list-content {
    list-style: none;
}

.main-list {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.selected::before {
    content: "";
    display: block;
    width: 5px;
    height: 28px;
    background-color: #FEF08A;
    position: absolute;
    left: -31.5px;
    top: 50%;
    transform: translateY(-50%);
}

.empty-subjects {
    padding-top: 8rem;
    padding-left: 5rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1rem;
}

.empty-subjects img {
    padding-left: 8.4rem;
}


.empty-subjects h2 {
    font-size: 14px;
    color: #44403C;
    font-weight: 600;
}

.hidden {
    display: none;
}

@media (max-width: 1100px){
    .main-list-btn {
        width: 100%;
        max-width: 30rem;
    }
    .main-hero {
        margin: 0.5rem 0;
        min-width: none;
        max-width: 30rem;
        width: 90%;
        padding-right: 1rem;
    }
    .main-title {
        margin: 2.4rem 0;
        max-width: 30rem;
        width: 90%;
    }
    .main{
        width: 100%;
        max-width: 80vw;
    }
}



