* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

body, a, button{
    font-family: "Poppins", sans-serif;
}

.header {
    display: flex;
    flex-direction: column;
    background-color: #1E1B4B;
    width: 240px;
    min-width: 180px;
}

.header a {
    color: white;
    text-decoration: none;
    font-weight: 500;
}

.logo {
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
    padding-top: 2rem;
    padding-left: 1.2rem;
    color: #EEF2FF;
    flex: 1 0 15vh;
}

.logo h1 {
    font-weight: 600;
    font-size: 24px;
    padding-top: 0.5rem;
    letter-spacing: -0.5px;
}


.nav{
    display: flex;
    gap: 15px;
    color: white;
    justify-content: start;
    align-items:flex-start;
    flex-direction: column;
    flex: 1 0 65vh;
    padding-left: 2rem;
}

.element{
    display: flex;
    gap: 8px;
    position: relative;
}

.element a {
    padding-top: 0.2rem;
}

.element a:hover {
    color: #FEF08A;;
}

.nav-footer{
    color: white;
    flex: 1 0 20vh;
    display: flex;
    align-items: flex-end;
    padding-bottom: 2rem;
    padding-left: 2rem;
}

.nav-footer a {
    font-size: 16px;
    font-weight: 300;
}

.nav-footer a:hover {
    color: #FEF08A;;
}

/* a partir daqui main */
.app {
    display: flex;
    background-color: #1E1B4B
}

.main {
    border-radius: 24px 0 0 24px;
    background-color: #fafafa;
    flex: 1 0 100vh;
    display: flex;
    padding-left: 5rem;
    justify-content: space-between;
}

.main-content{
    max-width: 600px;
}

.main-title {
    margin-top: 2.4rem;
    display: flex;
}

.main-title button{
    margin-left: -3rem;
    margin-right: 1.3rem;
    margin-top: 3px;
    height: 39px;
    border: none;
    background: none;
    cursor: pointer;
}

.main-title button:hover{
    background-color: #b1b1b1b4;
    border-radius: 999px;
}

.main-title h1 {
    color: #1C1917;
    font-weight: 600;
    font-size: 30px;
}

.main-subtitle {
    color: #44403C;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 2.2rem;
}

.main-hero {
    margin: 0.5rem 0;
}

.main-hero h2 {
    font-weight: 500;
    color: #44403C;
    font-size: 20px;
    margin-bottom: 0.8rem;
}

.main-hero-information {
    display: flex;
    gap: 2rem;
    padding-bottom: 0.8rem;
    color: #78716C;
    font-size: 14px;
    padding-bottom: 2rem;
}

.informations-elements {
    display: flex;
    gap: 0.6rem;
    color: #3730A3;
}

.orientacao h1{
    font-size: 20px;
    color: #44403C;
    font-weight: 600;
    padding-bottom: 0.8rem;
}

.orientacao p{
    font-size: 16px;
    color: #44403C;
    font-weight: 400;
    padding-bottom: 2rem;
}


.data-entrega-div {
    padding-bottom: 2rem;
    color: #44403C;
    font-size: 16px;
    font-weight: 500;
}

.data-entrega-div span {
    color: #3730A3;
}

.start-btn{
    background-color: #6366F1;
    font-weight: 500;
    font-size: 16px;
    border: none;
    color: white;
    border-radius: 6px;
    padding: 12px 28px;
    cursor: pointer;
}

.main-try {
    background-color: #F5F5F5;
    display: flex;
    flex-direction: column;
    height: 90dvh;
    width: 320px;
    padding: 32px 20px;
    border: 1px solid #E5E5E5;
    border-radius: 24px;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.10), 0px 1px 2px 0px rgba(0, 0, 0, 0.06);
    text-align: center;
    margin-top: 40px;
    margin-right: 6rem;
    justify-self: flex-end;
}

.main-try h2 {
    font-size: 20px;
    color: #44403C;
    font-weight: 500;
    padding-bottom: 4rem;
}

.main-try p {
    font-size: 16px;
    color: #44403C;
    font-weight: 600;
    padding-bottom: 1rem;
}

.main-try span {
    font-size: 16px;
    color: #44403C;
    font-weight: 400;
}

.div-tentativas {
    display: flex;
    justify-content: space-evenly;
}

.div-sem-tentativas p {
    font-weight: 500;
    color: #78716C;
    margin: 50% 0;
}



.selected::before {
    content: "";
    display: block;
    width: 5px;
    height: 28px;
    background-color: #FEF08A;
    position: absolute;
    left: -31.5px;
    top: 50%;
    transform: translateY(-50%);
}


.hidden {
    display: none;
}
