*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Open Sans";
}

:root{
    --primary-color: #EEF2FF
}


.nav-item {
    text-decoration: none;
    color: var(--primary-color);
    display: flex;
    gap: 0.5rem;
    font-size: 0.875rem;
    align-items: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
}


.nav-bar-layout{
    display: flex;
    height: 100vh;
    width: 13.5rem;
    flex-direction: column;
    justify-content: space-between;
    background-color: #1E1B4B;
    padding: 2rem;
}

.logo{
    flex: 1 0 7dvh;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 0.5rem;
}

.nav{
    display: flex;
    flex-direction: column;
    flex: 1 0 75dvh;
    gap: 1rem;
}


.nav-footer{
    flex: 1 0 5dvh;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 0.5rem;
}

.element{
    display: flex;
}