
.logo {
    display: flex;
    color: #EEF2FF;
    gap: 0.2rem;
    font-size: 1.7rem;
    font-family: "Open Sans";
    font-weight: 700;
    align-items: center;
}

.logo h1{
    transform: scaleX(0.9);
}