* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

body, a, button{
    font-family: "Poppins", sans-serif;
}


/* a partir daqui main */
.app {
    display: flex;
    background-color: #1E1B4B;
}

.main {
    border-radius: 24px 0 0 24px;
    background-color: #fafafa;
    flex: 1 0 70vh;
    display: flex;
    flex-direction: column;
    padding-left: 5rem;
    overflow-x: hidden;
    
}

.main-title {
    margin: 2.4rem 0;
    margin-right: 2.4rem;
    display: flex;
    width: 95%;
    max-width: 78rem;

}

.main-title .back-btn{
    margin-left: -3rem;
    margin-right: 1.3rem;
    margin-top: 3px;
    height: 39px;
    border: none;
    background: none;
    cursor: pointer;
}

.main-title .back-btn:hover{
    background-color: #b1b1b1b4;
    border-radius: 999px;
}


.main-title .createBtn {
    margin-left: auto;
    display: flex;
    height: 2.4rem;
    padding: 1.5rem 1.6rem;
    align-items: center;
    gap: 0.5rem;
    background-color: #6366F1;
    color: white;
    border: none;
    border-radius: 0.375rem;
    cursor: pointer;
}

.main-hero{
    width: 95%;
    height: 75.5%;
    overflow-y: auto;
}

.main-hero::-webkit-scrollbar-thumb {
    border-radius: 10px; 
    background-color: #eeeeee;
}

.main-hero::-webkit-scrollbar-track {
    background-color: #fafafa; 
    border-radius: 10px; 
}

.main-hero::-webkit-scrollbar {
    width: 7px; 

}


.createBtn p {
    font-weight: 500;
    font-size: 1rem;
    margin-top: 0.2rem;
}

.createBtn img{
    height: 1.75rem;
}

.main-title h1 {
    color: #1C1917;
    font-size: 30px;
}

.table{
    border-collapse: separate;
    border-spacing: 0 8px;
    overflow-y: scroll;
    margin-right: 10px;
}

.table th{
    color: #78716C;
    font-size: 0.875rem;
    font-weight: 400;
    text-align: start;
    padding-right: 2rem;
}

.table tbody {
    overflow-y: scroll;
    height: 50%;
    overflow-x: auto;
}


.table tbody .first{
    padding-left: 1.2rem;
}

.table tbody td{
    white-space: nowrap;
    padding: 1rem 0rem;
    width: 15rem;
    border: 1px solid #E7E5E4;
    border-width: 1px 0 1px 0; 
    background-color: #F5F5F5;
}

.table tbody .first{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-left: 1px solid #E7E5E4;
    width: 30rem;
}

.table tbody .second{
    width: 30rem;
}

.table tbody .third{
    width: 7rem;
    padding-left: 0.8rem;
}

.table tbody .last {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-right: 1px solid #E7E5E4;
    display: flex;
    padding-right: 1.1rem;
    width: 11rem;
}

tbody tr {
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.10), 0px 1px 2px 0px rgba(0, 0, 0, 0.06);
    border-radius: 10px;
}

tbody tr a {
    text-decoration: none;
    
}

.links .first-a {
    padding-right: 2rem;
}

.links a {
    color: #4338CA;
    cursor: pointer;
}

.links a:hover{
    color: #6366F1;
}

.empty-subjects {
    position: absolute;
    top: 50vh;
    left: 40vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.empty-subjects h2 {
    font-size: 14px;
    color: #44403C;
    font-weight: 600;
}

.dialog-delete-btn {
    margin: auto;
    border-radius: 8px;
    padding: 3rem;
    border: 1px solid #E7E5E4;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.10), 0px 1px 2px 0px rgba(0, 0, 0, 0.06);
}
.dialog-delete-btn::backdrop{
    background: rgba(78, 77, 78, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3.7px);
    -webkit-backdrop-filter: blur(3.7px);
    border: 1px solid rgba(98, 98, 98, 0.3);
}

.dialog-delete-btn h1{
    font-size: 1.4rem;
    margin-bottom: 3rem;
    font-weight: 500;
}

.dialog-delete-btn p{
    font-size: 1rem;
    margin-bottom: 3rem;
    font-weight: 400;
    text-align: center;
}

.dialog-delete-btn .dialog-delete-name{
    color: #4338CA;
    font-weight: 500;
}

.dialog-delete{
    display: flex;
    gap: 3rem;
    justify-content: center;
}

.dialog-delete button{
    padding: 0.7rem 2.5rem;
    padding-top: 0.8rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 500;
}

.dialog-delete button:hover{
    background-color: #d4c9bfd3;
}

.dialog-delete .deleteBtnConfirm{
    padding: 0.3rem 2rem;
    padding-top: 0.4rem;
    background-color: rgba(237, 0, 0, 0.808);
    color: white;
}

.dialog-delete .deleteBtnConfirm:hover{
    background-color: rgb(235, 0, 0);
}


@media (max-width: 1100px){
    .main-list-btn {
        width: 100%;
        max-width: 30rem;
    }
    .main-hero {
        margin: 0.5rem 0;
        min-width: none;
    }
    .main-title {
        margin: 2.4rem 0;
        width: 90%;
    }
    .main{
        width: 100%;
        max-width: 80vw;
    }
    .table tbody td{
        padding-right: 2rem;
        overflow-x: scroll;
    }
    .table{
        overflow-x: scroll;
    }
}

@media (max-width: 900px){
    .main{
        max-width: 90vw;
        padding-left: 2rem;
    }
    .header{
        width: 5.5rem;
        min-width: 5.5rem;
    }
    .element a {
        display: none;
    }
    .nav-footer span{
        display: none;
    }
    .logo h1{
        display: none;
    }
    .main-title .back-btn{
        margin-left: 0px;
    }
}

@media (max-width: 500px){
    .app {
        flex-direction: column;
    }

    .logo {
        padding: 0 0;
        min-height:auto
    }

    .header {
        flex-direction: row;
        align-items: center;
        max-width: 100%;
        padding: 0 2rem;
        height: 15vh;
        max-height: 15vh;
    }
    .nav {
        flex-direction: row;
        gap: 1.5rem;
    }
    .main{
        width: 100%;
        max-width: 100vw;
        flex: 1 0 100vh;
        padding: 0 1.5rem;
        border-radius: 24px 24px 0 0;
        height: 100%;
        max-height: 85vh;
    }
    .main-title {
        margin: 2.4rem 0;
        max-width: 100%;
        width: 100%;
        display: flex;
        align-items: center;
    }
    .main-title h1{
        font-size: 1.2rem;
    }
    .main-hero {
        max-width: 30rem;
        width: 100%;
        padding-right: 1rem;
    }
    .main-list {
        gap: 1rem;
    }
    .element a {
        display: none;
    }
    .nav{
        flex: 1 0 50vw;
        justify-content:flex-end;
        padding-right: 1rem;
    }
    .nav-footer{
        padding-bottom: 0;
        flex: auto;
        padding-left: 0;
    }
    .main-hero-information{
        width: auto;
    }
    .main-list-btn .date{
        padding-right: 1rem;
        font-size: 12px;
    }
    .main-list-btn p{
        font-size: 0.7rem;
    }
    .tag-quizz p{
        font-size: 12px;
        padding: 0 6px;
    }
    .main-title button{
        margin-left: 0;
        margin-top: 5px;
        height: auto;
    }
    .main-title .back-btn{
        margin-left: 0px;
    }
    .main-title .createBtn{
        padding: 1.3rem 1.3rem;
    }
    .main-title .createBtn p{
        font-size: 0.9rem;
    }
    .painel-title{
        margin-right: 2rem;
    }
    .dialog{
        padding: 4rem 2rem;
    }
    .dialog h1 {
        font-size: 1rem;
    }
}


@media (max-width: 400px){
    .main-title h1 {
        font-size: 1.2rem;
    }
    .main-title p {
        font-size: 1.2rem;
    }
    .main-list-btn{
        font-size: 1rem;
    }
    .empty-quizz{
        text-align: center;
    }
    .nav{
        flex: 1 0 40vw;
    }

}

@media (max-width: 350px){
    .logo{
        flex: auto;
    }
    .nav{
        flex: 1 0 50vw;
    }
}

  