.question-box{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.question-header{
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

.question-title{
    color:  #44403C;
    font-family:"Open Sans";
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.75rem;
}

.question-info{
    color: #44403C;
    font-family: "Open Sans";
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5rem;
}

.awnser-box{
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

.awnser-content, .awnser-span{
    color: #44403C;
    font-family: "Open Sans";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
}

input[type='radio']{
    display: none;
}

input[type='radio']:checked + .awnser-label{
    background-color: #FEF9C3;
}

.awnser-label{
    display: flex;
    gap: 1rem;
    align-items: center;
    border: none;
    cursor: pointer;
    background-color: transparent;
    padding: 0.25rem;
    transition: background-color 0.2s ease, transform 0.3s ease;
}

.awnser-label:hover {
    background-color: #FEF9C3;
    color: #000;
    transform: translateY(-4px);
}

.awnser-span{
    border-radius: 62.5rem;
    border: 1px solid #44403C;
    padding: 0.125rem 0.5625rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.625rem;
}

.awnser-content{

    text-align: justify;

}

.space-div{
    padding-bottom: 0.1rem;
}

header p, header h1, header span{
    display: none;
}

header dialog p, dialog h1, dialog span{
    display: flex;
}
.ul ul{
    left: -1.2rem;
    color: black;
    padding: 1rem;
    border-radius: 1rem;
    border: 1px solid #E5E5E5;
    background:  #FAFAFA;
}
.ul ul li a{
    color: black;
}

.sideCard{
    width: 30%;
    min-width: 16.125rem;
    display: flex;
    position: fixed;
    right: 4rem;
    top: 9rem;
    justify-content: end;
    max-height: 38rem;
}

.questionsDiv{
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    padding-top: 4rem;
}

.main-content{
    width: 100%;
    height: 100%;
    max-height: 100vh;
    display: flex;
    justify-content: space-between;
    gap: 3rem;
    padding-left: 2.3rem;
    padding-right: 2.3rem;
}

.timer-div{
    margin: 0 2rem 0 auto;
    align-self: center;
}

.page-header-box{
    max-width: 64%;
    width: 100%;
    position: fixed;
    top: 0;
    padding-top: 2rem;
    padding-bottom: 1rem;
    background-color: #FAFAFA;
    z-index: 999;
    padding-left: 2rem;
}
.page-header-box .head{
    padding-right: 1rem;
}

@media (max-width: 1355px){

    .sideCard{
        right: 2rem;
    }

    .container{
        max-width: 59%;
    }

}

@media (max-width: 1190px){

    .sideCard{
        width: max-content;
    }

}

@media (max-width: 1060px){


    .main-content{
        flex-direction: column;
    }

    .container{
        max-width: 79%;
    }


    .sideCard{
        position: initial;
        align-self: center;
        width: 20rem;
        padding-bottom: 3rem;
        max-height: none;
    }

    .questionsDiv{
        width: 100%;
    }
}

@media (max-width: 880px){
    .questionsDiv{
        padding-right: 0;
    }

    .main-content{
         padding-right: 0;
         padding-left: 1rem;
    }

}

@media (max-width: 519px){
    .container{
        max-width: 100%;
        width: 100%;
        position: initial;
        top: 0;
        padding-top: 1rem;
        padding-bottom: 1rem;
        background-color: #FAFAFA;
        z-index: 999;
    }

    .timer-div{
        margin: 0 0 0 auto;
        align-self: center;
    }

    .questionsDiv{
        padding-top: 0;
    }

    .questionsDiv p{
        font-size: 0.8rem;
    }

    .page-header-box{
        padding-left: 1rem;
    }
    
}

@media (max-width: 400px){


    .page-header-box p, .page-header-box span{
        font-size: 0.775rem;
    }

    .page-header-box h1{
        font-size: 1.4rem;
    }

    .sideCard{
        max-width: max-content;
    }

}
